<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Codigo de barras
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="block" (click)="startScan()" mode="ios">scanner</ion-button>



  <ion-card mode="ios" *ngIf="scanResults">
    <ion-card-header>
      <ion-card-title>{{scanResults}}</ion-card-title>
      <ion-card-subtitle>{{nombre}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <pre>{{ datos | json }}</pre>
    </ion-card-content>
  </ion-card>
</ion-content>
